<div>
  <div ng-class="gameMode == 'viewing' ? 'viewMode' : ''">
  	<div>
      <h3 >
        <span id="owner" ng-class="currentTurn == 1 ? 'underline' : ''" >{{owner}} <img src="/images/cross.png" style="height:1em"></img></span>
        <span id="opponent" class="pull-right" ng-class="currentTurn == 2 ? 'underline' : ''"> <img src="/images/round.png" style="height:1.2em"> {{opponent}}</span>
      </h3>
    </div>
    <br>
    <div canvas-draw></div>
    <br>
    <br>
		<div class="text-center">
		  <h3>{{gameDuration | date : "HH:mm:ss" : '+0000'}}</h3>
		</div>
	</div>
		<br>
		<br>
		<button class="btn center-block btn-lg button-back" style="background:teal" ng-click="surrender()" ng-if="gameMode == 'normal'">SURRENDER</button>
		<button class="btn center-block btn-lg button-back" style="background:teal" ng-click="goToLobby()" ng-if="gameMode == 'viewing'">BACK</button>
</div>
<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Игра завершена!</h4>
      </div>
      <div class="modal-body">
        <p>Результат игры: {{winner == 'draw' ? 'Ничья' : 'выиграл ' + winner}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="goToLobby()">Вернуться в лобби</button>
      </div>
    </div>
  </div>
</div>
