<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control text-right" placeholder="Player 1" ng-model="owner">
        </div>
    </div>

                
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Player 2" ng-model="opponent">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        </div>
    </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-lg-12">
            <div class="input-group" >
                <span class="input-group-addon" >&#8597;<span style="vertical-align: 0.45em">&#8596;</span></span>
                <select class="form-control" ng-model="select" ng-change="changeFieldSize(select.value)" ng-options="item.gameType for item in gameTypes track by item.value"></select>
                <span class="input-group-addon" ng-show="select.value == 'custom'">Field size:</span>
                <input type="text" class="form-control" min="6" max="50" ng-show="select.value == 'custom'" ng-model="fieldSize">
                <span class="input-group-addon" ng-show="select.value == 'custom'">Game type: </span>
                <select class="form-control" ng-show="select.value == 'custom'" ng-model="countForWin">
                    <option value="4" ng-selected="select">Четыре в ряд</option>
                    <option value="5" >Пять в ряд</option>
                    <option value="6">Шесть в ряд</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-success" style="width:15em" type="button" ng-click="createNewGame()">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <hr>
    <div class="my-flex-container">
        <div ng-repeat="item in games | orderBy : '-state'" ng-click="clickHandler(item)">
            <div class="game flex-block" ng-class="item.state" ng-show="item.show">
                <div class="user">
                    <p ng-class="item.ownerWin ? 'winner' : ''">{{item.owner}} <span class="glyphicon glyphicon-ok" ng-show="item.ownerWin"></span></p>
                </div>
                <div class="user dark-line" >
                    <p ng-class="item.opponentWin ? 'winner' : ''">{{item.opponent}} <span class="glyphicon glyphicon-ok" ng-show="item.opponentWin"></span></p>
                </div>
                <div class="pull-right">
                    {{item.gameDuration | date : "HH:mm:ss" : '+0000' }}
                </div>
            </div>
        </div>
    </div>
</div>    

