.header {
    background-color:black;
    color: white;
    padding: 15px;
    box-shadow: 0px 3px 4px gray;
    font-size: 25px;
    font-weight: bold;
}
        
body { 
    padding-top: 80px;
}
        
.container1{
    border: 1px solid darkgray;
    margin-left:24px;
    margin-right:24px;
}
            
.game {
    height:180px;
    width:180px;
    border: 1px solid lightgray;
    padding: 5px;
    margin:10px;
}
            
.ready {
    background-color:dimgray;
}

.done {
    background-color:gainsboro;
}
            
.playing {
    background-color:darkgray;
}
        
.winner {
    color:goldenrod;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
            
.game:hover {
    box-shadow: 0px 3px 4px gray;
    border: 1px solid dimgray;
}
        
.dark-line {
    border-top: 2px solid dimgray;
}

.user {
    height:45%;
    padding:5px;
    color:white;
    font-size:20px;
}
            
.my-flex-container{
    display: flex;
    /*justify-content:space-between; */
    flex-wrap:wrap;
}
            
.new-game {
    margin-bottom:50px;
    margin-right:24px;
}
        
#button-add {
    border-radius: 100%;
    width: 3em;
    height: 3em;
    font-size: 20px; 
    font-weight: bold;

    box-shadow: 0px 5px 10px gray;
}
.button-back {
    background:teal;
    color:white;
    width: 150px;

}
            
#button-add:active{
    transform:translate(0,2px);
    box-shadow: 0px 3px 10px gray;
}

.underline {
    border-bottom: 3px solid black;
    padding-bottom: 4px;
}

.underlineView {
    border-bottom: 3px solid darkgray;
    padding-bottom: 4px;
}

.viewMode {
    color:gray;
    filter: grayscale(100%);
    
}
            